{% extends '_base_template.html' %}

{% block content %}

    <div class="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="column-left">
            {% from "macros/render_field.html" import render_field %}
            <form method="POST" action="{{ url_for('index') }}"
                  onkeydown="if(event.ctrlKey&&event.keyCode==13)this.submit()">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.id != 'csrf_token' %}
                        {{ render_field(field) }}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Создать код (ctrl+enter)" class="button">
            </form>
        </div>


        <div class="column-right">
            <h2>{% if not qr_name %}Здесь будет {% endif %}Ваш QR-code:</h2>
            <div class="qr-container">
                {% if qr_name %}
                    <a href="{{ qr_name }}">
                        <img src="{{ qr_name }}" alt=""/>
                    </a>
                {% endif %}
            </div>
            {% if qr_name %}
                <div class="code">
                    <p>Постояная ссылка на изображение:</p>
                    <input type="text" value="{{ qr_name }}">
                </div>
                <div class="code">
                    <p>HTML-код для вставки в блог:</p>
                    <input type="text" value="{{ '<img src="{}" width="164" height="164" border="0" title="QR код">'.format(qr_name) }}">
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}